<div class="container">
<nav class="navbar navbar-dark bg-dark">
			{{#link-to "index" class="navbar-brand"}}
			Index
			{{/link-to}}
			<div class="navbar-nav ml-auto">
				<button class="btn btn-outline-info btn-sm"{{action "logout"}}>Logout</button>
			</div>
</nav>
{{outlet}}
</div>
